<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.diemdanhapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logou1"
        android:label="UIT Log"
        android:roundIcon="@drawable/logou1"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.diemdanhapp.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.app.diemdanhapp.ProfileActivity"
            android:label="Profile Activity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.Notification"
            android:label="Notification">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.ClassActivity"
            android:configChanges="orientation|screenSize"
            android:label="ClassActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.DashboardActivity"
            android:configChanges="orientation|screenSize"

            android:label="DashboardActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.AttendActivity"
            android:configChanges="orientation|screenSize"
            android:label="AttendActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.AttendCreActivity"
            android:configChanges="orientation|screenSize"

            android:label="AttendCreActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.QRCodeActivity"
            android:configChanges="orientation|screenSize"

            android:label="QRCodeActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.StudentListActivity"

            android:label="StudentListActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.SessionListActivity"

            android:label="SessionListActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.AttendDetailActivity"

            android:label="AttendDetailActivity">

        </activity>
        <activity
            android:launchMode = "singleInstance"
            android:name="com.app.diemdanhapp.LoadingActivity"

            android:label="AttendDetailActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.EnrollActivity"

            android:label="EnrollActivity">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.SessionAttendDetail"

            android:label="SessionAttendDetail">

        </activity>
        <activity
            android:name="com.app.diemdanhapp.CreateClassActivity"

            android:label="CreateClassActivity">

        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>